[submodule "Modbus"]
	path = Modbus
	url = https://github.com/kutukvpavel/ArduinoModbusSlave
[submodule "ModbusPort"]
	path = ModbusPort
	url = https://github.com/kutukvpavel/ArduinoModbusSlave
[submodule "cli"]
	path = cli
	url = https://github.com/kutukvpavel/ushell-stm32.git
[submodule "pid"]
	path = pid
	url = https://github.com/kutukvpavel/PID_Library.git
