[submodule "Modbus"]
	path = Modbus
	url = https://github.com/kutukvpavel/ArduinoModbusSlave
[submodule "ModbusPort"]
	path = ModbusPort
	url = https://github.com/kutukvpavel/ArduinoModbusSlave
[submodule "cli"]
	path = cli
	url = https://gitlab.uliege.be/mdiepart1/ushell-stm32.git
